<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Index</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/covershot.css">
	</head>
	<body>
		<header>
			<ul class="summary">
				<li>Total Files</li>
				<li>Hits</li>
				<li>Misses</li>
				<li>sloc</li>
				<li>Coverage</li>
			</ul>
		</header>
		<section id="bod">
			<div id="mainContent">
				<table>
					<tbody>
						<% for (file in files) { %>
						<tr>
							<td>
								<a href="src/<%= files[file].filename %>.html"><%= files[file].filename %></a>
							</td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
			<footer>
				footer	
			</footer>
		</section>
	</body>
</html>