<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Index</title>
		<link rel="stylesheet" href="covershot.css">
	</head>
	<body>
		<table>
			<thead>
				<tr>
					<th> 
						<p> <%= instrumentation %> </p>
					</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td>
						Footer
					</td>
				</tr>
			</tfoot>
			<tbody>
				<% for (file in files) { %>
				<tr>
					<td>
						<a href="src/<%= files[file].filename %>.html"><%= files[file].filename %></a>
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>	
	</body>
</html>